header img {
    height: 200px;
    width: auto;
}
body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mochi-item img {
    border-radius: 50%;
    border: 8px solid #C8E0F4;
    height: 300px;
    width: 300px;
}

#product-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.mochi-class p {
    border: 3px solid black;
}